[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Visual Studio
.vscode/
*.csproj
*.sln
*.user
*.unityproj

# Unity
obj/
*.pidb
*.suo
*.userprefs
*.booproj
*.svd
*.pdb
*.mdb

# OS
.DS_Store
Thumbs.db

# Other
*.apk
*.aab
